:root {
  --logo-color: #000000;
  --main-lite-color: #ffffff;
  --main-textcolor: #757575;
  --sec-textcolor: #212121;
  --accent-color: #2196f3;
  --iconteam-color: #afb1b8;
  --back1-color: #2f303a;
  --back2-color: #f5f4fa;
  --back3-color: #2f303a;
  --bord-port-color: #eeeeee;
  --siteheadbord-color: #ececec;
  --basecont-color: rgba(255, 255, 255, 0.6);
  --footsoc-color: rgba(255, 255, 255, 0.1);
  --bgrd-color: rgba(47, 48, 58, 0.4);
  --teamshad-color: rgba(0, 0, 0, 0.25);
  --second-font: Raleway, sans-serif;
  --cubic-effect: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-lite-color);
  color: var(--main-textcolor);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.sitehead-logo.link {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color);
  transition: color 250ms var(--cubic-effect);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 768px) {
  .sitehead-logo.link {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .sitehead-logo.link {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 768px) {
  .web {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .web {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--sec-textcolor);
    transition: color 250ms var(--cubic-effect);
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .site-nav .snav-link:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .contact-nav .cnav-link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-nav .cnav-link:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-textcolor);
    transition: color 250ms var(--cubic-effect);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.116;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-nav .link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
  }
}

.cnav-icon {
  margin-right: 8px;
  fill: var(--main-textcolor);
  transition: fill 250ms var(--cubic-effect);
}

@media screen and (min-width: 1200px) {
  .cnav-icon {
    margin-right: 10px;
  }
}

.snav-link {
  position: relative;
  transition: color 250ms var(--cubic-effect);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:hover .cnav-icon,
.link:focus .cnav-icon {
  fill: var(--accent-color);
}

.examples-buttlist {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .examples-buttlist {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-buttlist {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .examples-buttlist .exam-butt {
    margin-bottom: 15px;
  }
}

.examples-buttlist .exam-butt:not(:last-child) {
  margin-right: 8px;
}

.examples-button {
  display: inline-block;
  border-radius: 4px;
  padding: 5.89px 22px;
  border: none;
  background-color: var(--back2-color);
  color: var(--sec-textcolor);
  box-shadow: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  transition: background-color 250ms var(--cubic-effect), color 250ms var(--cubic-effect), box-shadow 250ms var(--cubic-effect);
}

.examples-button:hover, .examples-button:focus {
  background-color: var(--accent-color);
  color: var(--main-lite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  margin: -15px;
  font-size: 16px;
  line-height: 1.875;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .examples-list {
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .examples-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.examples-list .title {
  margin-bottom: 4px;
  color: var(--sec-textcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-card {
  margin: 15px;
  border: 1px solid var(--bord-port-color);
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic-effect);
  /*&:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }*/
}

@media screen and (min-width: 768px) {
  .examples-card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-card {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.examples-card:hover .overlay,
.examples-card:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: transform 250ms var(--cubic-effect);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-lite-color);
  outline: 2px solid teal;
}

.overlay-eximg {
  position: relative;
  overflow: hidden;
}

.port-textblock {
  padding: 20px 24px;
}

.examples-text {
  color: var(--main-textcolor);
}

.examples-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic-effect);
}

.examples-link:hover, .examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.basement-logo {
  margin: 0 auto;
  width: 145px;
  height: 31px;
  margin-bottom: 20px;
  color: var(--main-lite-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.basement-contacts {
  text-align: center;
  margin-bottom: 60px;
}

address {
  font-style: normal;
}

.basement-address {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--main-lite-color);
  line-height: 1.71;
}

.basement-contactmail {
  display: inline-block;
  min-width: 231px;
  margin-bottom: 9px;
  color: var(--basecont-color);
  transition: color 250ms var(--cubic-effect);
  line-height: 1.71;
}

.basement-contactmail:hover, .basement-contactmail:focus {
  color: var(--main-lite-color);
}

.basement-contacttel {
  display: inline-block;
  min-width: 231px;
  color: var(--basecont-color);
  transition: color 250ms var(--cubic-effect);
  line-height: 1.71;
}

.basement-contacttel:hover, .basement-contacttel:focus {
  color: var(--main-lite-color);
}

.basesocial {
  text-align: center;
  margin-bottom: 60px;
}

.basesocial-list {
  display: flex;
  justify-content: center;
}

.basesocial-list-item {
  width: 44px;
  height: 44px;
}

.basesocial-list-item:not(:last-child) {
  margin-right: 10px;
}

.basesocial-list-icon {
  fill: var(--main-lite-color);
}

.basesocial-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--footsoc-color);
  transition: background-color 250ms var(--cubic-effect);
  border-radius: 50%;
}

.basesocial-list-link:hover, .basesocial-list-link:focus {
  background-color: var(--accent-color);
}

.baseform {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .baseform {
    text-align: start;
  }
}

.connect-form {
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-lite-color);
}

@media screen and (min-width: 1200px) {
  .futer-form {
    display: flex;
  }
}

.futer-form-input {
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--back1-color);
  color: var(--main-lite-color);
  padding-left: 16px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .futer-form-input {
    min-width: 358px;
  }
}

.futer-form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .futer-form-input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .futer-form-input {
    margin-bottom: 0;
    min-width: 358px;
  }
}

.futer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  align-self: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .futer-form-btn {
    margin-left: 10px;
  }
}

.futer-icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .burger-icon,
  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-icon:hover, .burger-icon:focus,
  .mobile-menu-close-icon:hover,
  .mobile-menu-close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .mobile-menu-nav {
    margin-bottom: 302px;
  }
  .mobile-menu-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--sec-textcolor);
  }
  .mobile-menu-nav-link.current {
    color: var(--accent-color);
  }
  .mobile-menu-nav-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-menu-nav-contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 64px;
  }
  .mobile-menu-social-item:not(:last-child) {
    margin-right: 12px;
  }
  .mobile-menu-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-phone-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--main-textcolor);
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  transform: translateY(-300%);
  background: var(--main-lite-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateY(0%);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .burger-btn,
  .mobile-menu-close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-menu-close {
    display: none;
  }
}

.sitehead {
  border-bottom: 1px solid var(--siteheadbord-color);
}

.headnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logsitcont-nav {
  display: flex;
  align-items: center;
}

.examples {
  padding-top: 60px;
  padding-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .examples {
    padding-top: 94px;
  }
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back3-color);
}

@media screen and (min-width: 768px) {
  .base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.connect {
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--main-lite-color);
}
/*# sourceMappingURL=portfolio.css.map */