.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back3-color);
}
.base {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
}
.connect {
  display: flex;
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;

  color: var(--main-lite-color);
}
