.sitehead {
  border-bottom: 1px solid var(--siteheadbord-color);
}
.headnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logsitcont-nav {
  display: flex;
  align-items: center;
}
