.solution {
  max-width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
    to right,
    var(--bgrd-color),
    var(--bgrd-color)),
    url("./img/hero/hero-mobile.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--back1-color);
  text-align: center;

 @media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;
}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  screen and (min-resolution: 192dpi) and (min-width: 480px),
  screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .solution {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .solution {
    max-width: 100%;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .solution {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .solution {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/hero/hero-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .solution {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("./img/hero/hero-desktop@2x.jpg");
  }
  }