:root {
  --logo-color: #000000;
  --main-lite-color: #ffffff;
  --main-textcolor: #757575;
  --sec-textcolor: #212121;
  --accent-color: #2196f3;
  --iconteam-color: #afb1b8;
  --back1-color: #2f303a;
  --back2-color: #f5f4fa;
  --back3-color: #2f303a;
  --bord-port-color: #eeeeee;
  --siteheadbord-color: #ececec;
  --basecont-color: rgba(255, 255, 255, 0.6);
  --footsoc-color: rgba(255, 255, 255, 0.1);
  --bgrd-color: rgba(47, 48, 58, 0.4);
  --teamshad-color: rgba(0, 0, 0, 0.25);
  --second-font: Raleway, sans-serif;
  --cubic-effect: cubic-bezier(0.4, 0, 0.2, 1);
}