.sitehead-logo.link {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--logo-color);
  transition: color 250ms var(--cubic-effect);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and(min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and(min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
