.solution-title {
  margin-bottom: 30px;
  color: var(--main-lite-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

 @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 1.37;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.37;
  }
}
